/*
colors: 

dark gray = #111111
blue = rgb(88, 129, 215)
white = rgb(238, 238, 238)

*/


body {
	background: #EEE;
}


/*/// --------- T Y P O G R A P H Y --------- ///*/

@font-face {
	font-family: Dekar;
	src: url('Dekar.otf');
}

pre {
	border: 2px solid #ccc;
}

h1 {
	color: #333;
	font-family: 'Rosario', sans-serif;
	font-size: 3.157em;
	font-weight: 400;
	line-height: 1.2em;
	margin: 0 0 0.5em 0;
}

h2 {
	color: rgb(88, 129, 215);
	font-family: 'Rosario', sans-serif;
	font-size: 2.369em;
	font-weight: 400;
	line-height: 1.2em;
	margin: 1em 0;
}

h3 {
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	color: #444;
	font-size: 1.777em;
	line-height: 1.2em;
	margin: 0 0 1em 0;
}

h4 {
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #444;
	font-size: 1em;
	line-height: 1.2em;
	margin: 0 0 1em 0;
}

h5 {
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #444;
	font-size: .8em;
	line-height: 1.2em;
	margin: 0 0 1em 0;
}

p, ul {
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 1em;
	line-height: 1.333em;
}

p {
	margin-bottom: 1em;
}

code {
	display: block;
	margin-bottom: 1em;
}

ul {
}

a {
	color: #333;
}

a:hover {
	color: rgb(88, 129, 215);
}

i {
	color: rgb(88, 129, 215);
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	font-style: italic;
}

abbr {
	color: #000;
	border-bottom: 2px dotted #222;
}

small {
	color: #444;
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.75em;
}

/*/// --------- T O P  S E C T I O N --------- ///*/

div#header {
	background-color: #111;
	width: 100%;
}

div#head_body {
	height: 6.8em;
	width: 900px;
	margin: 0px auto;
	padding: 30px;
}

div#header img {
	float: left;
	width: 16em;
	margin-left: 87px;
}

div#header p {
	position: relative;
	top: 23px;
	right: -40px;
	color: rgb(238, 238, 238);
	letter-spacing: 2px;
	line-height: 1.333em;
	font-family: 'Rosario', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.777em;
}

div#header p abbr {
	color: rgb(238, 238, 238);
}

div#header h4 {
	position: relative;
	top: -5px;
	right: -40px;
	color: rgb(88, 129, 215);;
	letter-spacing: 2px;
}

/*/// --------- M A I N  S E C T I O N --------- ///*/

div#main_body {
	width: 900px;
	margin: 50px auto 0px auto;
}

div#comp_box {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 1.5em;
	margin-bottom: 1em;
}

/*/// --------- N A V I G A T I O N --------- ///*/

div#nav {
	font-family: 'Rosario', sans-serif;
	color: #444;
	margin: 3.7em 1em 999em 5.5em;
	float: left;
	width: 280px;
}

div#nav ul li {
	margin: .25em 0;
	list-style-type: none;
}

div#nav ul li ul {
	margin-left: 1em;
}

/*/// --------- C O N T E N T --------- ///*/

div#content {
	margin-top: 3.7em;
	margin-bottom: 2em;
	float: left;
	width: 500px;
}

div#lein_install {
	margin-top: 2em;
}

div#man_install {
	margin-top: 2em;
}

/*/// --------- B O T T O M  S E C T I O N --------- ///*/

div#foot_body {
	width: 900px;
	margin: 0 auto 5em auto;
	text-align: center;
}